body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 34px;
    background-color: blue;
  }
  
  
  
  .container {
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }
  
 
  h1 {
    padding-bottom: 20px;
    padding-left:20px;
    font-size: 30px;
    line-height: 49px;
    color: whitesmoke;
  }
  

  
  
  .container {
    padding:0;
    margin:0;
  }
  

 
  
  
  .main-container {
    margin-top:18px;
    padding:18px;
    text-align: center;
    color: white;
    border-color: black;
    border-width: 5px;
  }
  
  
 